/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  /* ui design colors */
  --ui-clr-body-bcg: #c5bdeb;
  --ui-clr-primary: #6e59ce;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--ui-clr-body-bcg);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.section-title {
  text-align: center;
  margin: 4rem 0 6rem 0;
}
/*
=============== 
Sign up Form
===============
*/
.services {
  display: none;
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background: var(--clr-white);
  padding: 2.5rem;
  border-radius: var(--radius);
  width: 90vw;
  max-width: var(--max-width);
}
.form h2 {
  margin-bottom: 2rem;
  font-weight: 500;
}
.form-control {
  margin-bottom: 2rem;
}
.form-control label {
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.form-input {
  border: 1px solid var(--clr-grey-9);
  border-radius: var(--radius);
  padding: 1.25rem;
  width: 100%;
  color: var(--clr-grey-3);
  font-size: 1rem;
}
.form-input::placeholder {
  color: var(--clr-grey-5);
  text-transform: capitalize;
}
.updates {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;
}
input[type='checkbox'] {
  /* border: 1px solid var(--clr-grey-9); */
  width: 1.75rem;
  height: 1.75rem;
}
.updates p {
  margin-bottom: 0;
  text-transform: capitalize;
  color: var(--clr-grey-5);
}
.btn {
  background: var(--ui-clr-primary);
  display: block;
  width: 100%;
  color: var(--clr-white);
  border-radius: var(--radius);
  border-color: transparent;
  padding: 1.25rem 0;
  text-transform: capitalize;
  font-size: 1rem;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .services {
    display: block;
    padding: 4rem;
    background: linear-gradient(135deg, #ba91e9 0%, #6d58ce 100%);
    border-radius: var(--radius);
    color: var(--clr-white);
    min-height: 785px;
  }
  .service {
    max-width: 240px;
    margin-bottom: 2.5rem;
  }
  .icon {
    width: 2rem;
    height: 2rem;
    display: block;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.23);
    display: grid;
    place-items: center;
    margin-bottom: 1.75rem;
  }
  .service h4 {
    font-weight: 500;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    align-items: center;
  }
}
