/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  /* ui design colors */
  --clr-ui-grey: #f2f2fa;
  --clr-ui-dark-blue: #141f64;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-ui-grey);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
Card 1
===============
*/
.section-title {
  text-align: center;
  margin: 4rem 0 6rem 0;
}
.card {
  width: 90vw;
  margin: 4rem auto;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.card-1 {
  max-width: 446px;
  text-align: center;
  padding-bottom: 3.5rem;
}
.card-1 header {
  height: 197px;
  background: url('./images/ocean.jpeg') center/cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.card-1 img {
  border: 5px solid var(--clr-white);
  margin-top: -65px;
  margin-bottom: 0.5rem;
}
.card-1 h4 {
  font-size: 22px;
}
.card-1 p {
  margin-bottom: 2rem;
  font-size: 18px;
  padding: 0 2rem;
  color: var(--clr-grey-3);
}

.btn {
  padding: 1rem 2rem;
  letter-spacing: 1.6px;
  font-size: 1rem;
  color: var(--clr-white);
  background: var(--clr-ui-dark-blue);
  border-radius: var(--radius);
  border-color: transparent;
  text-transform: uppercase;
  transition: var(--transition);
  cursor: pointer;
}

/*
=============== 
Card 2
===============
*/
.card-2 {
  max-width: 641px;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 2rem 2.5rem;
  column-gap: 3rem;
}
.card-2 h4 {
  font-size: 26px;
}
.card-2 p {
  font-size: 18px;
  margin-bottom: 0;
}
.card-2 .btn {
  margin-top: 1.5rem;
  background: transparent;
  border: 2px solid var(--clr-ui-dark-blue);
  color: var(--clr-ui-dark-blue);
  font-weight: bold;
}
@media screen and (max-width: 776px) {
  .card-2 {
    max-width: 446px;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-rows: auto 1fr;
    row-gap: 1rem;
    text-align: center;
  }
}
/*
=============== 
Card 3
===============
*/
.card-3 {
  max-width: 771px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 3rem;
  align-items: center;
  padding: 2rem 3rem;
}
.card-3 h4 {
  font-size: 26px;
}
.card-3 .btn {
  align-self: flex-start;
}

.card-3-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card-3-link {
  font-size: 1rem;
  color: var(--clr-grey-3);
}
@media screen and (max-width: 992px) {
  .card-3 {
    max-width: 446px;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-rows: auto 1fr 1fr;
    row-gap: 1rem;
    /* text-align: center; */
  }
  .card-3-info {
    margin-top: 1.5rem;
  }
}
